h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
body{
    background-color: white;
}
p{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;

}

.welcomeBox{
    text-align: center;
    border-style: groove;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(27, 26, 26);
}
.input {
    color: black;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}