body{
    margin: 0;
    background-color: hsl(0, 0%, 85%);
}
h1{
    text-align: center;
    font-family: Cambria;
    font-size: 50px;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 100px;
}
header{
    background-color: hsl(0, 0%, 73%);
    height: 100px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
}
.messageBox{
    width: 90%;
    height: 600px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin: auto;
    overflow-y: scroll;
}
.messageBox ol{

}
.messageBox ol li{
    font-size: 40px;
    margin-left: 20px;
    font-family: Cambria;
}